# Virtual environment
.venv/
venv/
ENV/
env/

.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# IDE/editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Coverage
htmlcov/
.coverage
.coverage.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Misc
*.swp
